<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card p-4 rounded bg-white">
    <div class="card-body text-center">
      <div class="d-flex justify-content-center mb-4">
        <h1 class="display-1 fw-bold text-danger mb-0">
        <img [src]="'/images/404.png'" alt="Not found" height="150" width="150" />
        </h1>
      </div>
      <h2 class="h3 fw-bold mb-3 text-dark">{{ 'app.errors.404.title' | translate }}</h2>
      <p class="text-muted">{{ 'app.errors.404.body' | translate }}</p>
      <hr class="my-4">
      <p class="text-secondary">{{ 'app.errors.404.returnText' | translate }}.</p>
      <a routerLink="/" class="btn btn-primary btn-lg mt-3 shadow-sm rounded-pill">{{ 'app.errors.404.buttonText' | translate }}</a>
    </div>
  </div>
</div>