<div class="wrapper wrapper-full-page">
  <div class="full-page login-page" data-color="azure">
    <div class="content">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <form class="form" [formGroup]="loginForm" novalidate>
              <div class="card card-login ">
                <div class="card-header text-center">{{ 'app.login.form.title' | translate }}</div>
                <div class="card-body">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="username">{{ 'app.login.form.username' | translate }}</label>
                      <input class="form-control text-none" id="username" placeholder="{{ 'app.login.form.placeholder.username' | translate }}" type="text" formControlName="username" [class.is-invalid]="form['username'].invalid && form['username'].touched" autocomplete="off" autofocus/>
                      <ng-template [ngIf]="form['username'].invalid && form['username'].touched">
                        <div class="bg-danger text-white p-1 mt-2">
                            <p>{{ 'app.login.messages.userRequired' | translate }}</p>
                        </div>
                      </ng-template>
                    </div>
                    <div class="form-group">
                      <label for="password">{{ 'app.login.form.password' | translate }}</label>
                      <input type="password" class="form-control" id="password" placeholder="{{ 'app.login.form.placeholder.password' | translate }}" formControlName="password" [class.is-invalid]="form['password'].invalid && form['password'].touched" autocomplete="off">
                      <ng-template [ngIf]="form['password'].invalid && form['password'].touched">
                        <div class="bg-danger text-white p-1 mt-2">
                          <p>{{ 'app.login.messages.passwordRequired' | translate }}</p>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="footer text-center">
                  <button class="btn btn-fill btn-secondary btn-wd" type="button" (click)="login()">
                    {{ 'app.login.form.buttonLogin' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
